body{
    background-color: white;
}

.incio{
text-align: center;
color: rgb(20, 15, 15);
font: oblique;
font-size: medium;
}

form{
    margin: 0 auto;
    text-align: center;
}

.dados_vacina{
    text-align: center;
    color: grey;
}

hr{
    width: 20%;
    text-align: left;
    margin-left: 16cm;
}

.botao1{
    background-color:white;
    color: orange;
}

.botao2{
    background-color: orangered;
    color: white;
}