body{
	background-color: royalblue;
}

.inicio{
	text-align: center;
	color: black;
	font: 25px Arial Black;
}

.botao{
	font: 30px Verdana;
	text-align: justify-all;
	cursor: pointer;
}

.botao1{
	font: 30px Verdana;
	text-align: justify;
	cursor: pointer;
}

.loading{
	color: floralwhite;
    font: 25px Times New Roman;
}


